[submodule "services/webserver/source"]
	path = services/webserver/source
	url = https://git.vshn.net/appuio/docs_webserver.git
[submodule "services/api/source"]
	path = services/api/source
	url = https://git.vshn.net/appuio/docs_api.git
[submodule "services/users/source"]
	path = services/users/source
	url = https://git.vshn.net/appuio/docs_users.git
